---
layout: default
title: Home
updated: 2018-11-22 16:01:26 +0100
---

<img src="https://dl.dropboxusercontent.com/s/h589754z3ow8jbp/animated_plume.gif" alt="Blender Mantaflow smoke" height="240" width="320">

{% for category in site.categories %}
  {% assign cat = category | first %}
  <h3>New {{ cat }}</h3>
  <ul>
  {% for post in site.categories[cat] limit:2 %}
    {% unless post.draft %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>
{% endfor %}
